#walrus-showing {
  display: none;
}

#emu-showing {
  display: none;
}

#both-showing {
  display: none;
}

#kitten-showing {
  display: none;
}

#puppy-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}